<!-- Default form login -->
<div class="container">
<div class="row">
<div class="col"></div>

<div class="col mt-5" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
  <form class="text-center border border-light p-5">
    <p class="h4 mb-4">Sign in</p>
    <!-- Email -->
    <input required type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
    <!-- Password -->
    <input type="password" required id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
   
   
   
   
  
    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit">Sign in</button>
  
    <div class="d-flex justify-content-around">
      <div>
        <!-- Forgot password -->
        <a href="">Forgot password?</a>
      </div>
    </div>
    <hr>

      <!-- Register -->
      <p>Not a member?
        <a href="/signUp">Register</a>
      </p>
  </form>

</div>
<div class="col"></div>
</div>
</div>