<!-- Default form register -->
<div class="container">
  <div class="row">
  <div class="col"></div>
  
  <div class="col mt-5" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
<form class="text-center border border-light p-5">
    <p class="h4 mb-4">Sign up</p>
    <div class="form-row mb-4">
    </div>

    <!--Username-->
    <input [(ngModel)]="register.username" required type="text" class="form-control mb-4" placeholder="Username">
    <!-- E-mail -->
    <input [(ngModel)]="register.email" required type="email"  class="form-control mb-4" placeholder="E-mail">
    <!-- Password -->
    <input [(ngModel)]="register.password" required type="password" class="form-control" placeholder="Password">
    

      

    <!-- Sign up button -->
    <button (click)="userRegister()" mdbBtn color="info" block="true" class="my-4" type="submit">Sign Up</button>
    <!-- Social register -->
    <p>Already have an accout?</p>
    <span>
      <a routerLink="/login">Login</a>
    </span>

   
    <hr>
    <!-- Terms of service -->
    <p>By clicking
      <em>Sign up</em> you agree to our
      <a href="" target="_blank">terms of service</a>
    </p>
  </form>
</div>
<div class="col"></div>
</div>
</div>